:host {
  flex: 1 1 auto;
  height: 100%;
}
.container-main__form__cu {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 10px;
  height: calc(100% - 30px);
  border: 1px solid #04aa6d;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-radius: 15px;

  &__title {
    margin: 0;
    height: 40px;
    background-color: #04aa6d;
    color: #ffffff;
    align-items: center;
    display: flex;
    border-top: 1px solid #04aa6d;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
  }

  &__content {
    display: flex;
    height: 100%;
    overflow: auto;
    flex-direction: column;
    gap: 20px;

    &__name {
      display: flex;
      gap: 15px;
      align-items: center;
      height: 20px;
      padding: 20px;
      border-bottom: 1px solid #04aa6d;
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1;
      height: 100%;

      &__fields {
        padding: 20px;
        flex: 1;
        height: 100%;
        max-height: 100%;

        &__controls {
          display: flex;
          align-items: center;
          gap: 20px;
          justify-content: space-between;

          &__group {
            display: flex;
            gap: 15px;
            align-items: center;
          }

          &__single {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 30px;
    border-top: 1px solid #04aa6d;

    &__invalid__button {
      border-top: 1px solid #f4f4f4;
      background-color: #f4f4f4;
      color: #7c7878;
      opacity: 0.5;
    }
  }
}
