<ngx-spinner>
  <p class="loading">Loading ...</p>
</ngx-spinner>
<div *ngIf="showContent" class="container-main__table">
  <div class="container-main__table__title">
    <h3>Tables Summary</h3>

    <button (click)="downloadPrismaFile()">Export Prisma File</button>
  </div>
  <div class="container-main__table__content">
    <div
      class="container-main__table__content__loop"
      *ngFor="let table of fileDatabase.tables; let indextable = index"
    >
      <div class="container-main__table__content__loop__tables">
        <div class="container-main__table__content__loop__tables__header">
          <h4>{{ table.name }}</h4>
          <span>({{ table.type }})</span>
        </div>
        <div class="container-main__table__content__loop__tables__buttons">
          <button (click)="updateTable(indextable)">Update</button>
          <button (click)="deleteTable(indextable)">Delete</button>
        </div>
      </div>

      <table class="container-main__table__content__loop__table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Fields</th>
            <th>Restrictions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let field of table.fields">
            <td>{{ field.name }}</td>
            <td>{{ field.optional ? field.type + "?" : field.type }}</td>
            <td>{{ field.restriction }}</td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
  </div>
</div>
