<div class="container-main__form__cu">
  <div class="container-main__form__cu__title">
    <h3>Updater File Settings</h3>
  </div>

  <div class="container-main__form__cu__content">
    <form
      class="container-main__form__cu__content__form"
      [formGroup]="formAddTable"
    >
      <div class="container-main__form__cu__content__form__name">
        <label for="table_name">* Client Provider:</label>
        <input formControlName="clientProvider" type="text" name="table_name" />
      </div>
      <div class="container-main__form__cu__content__form__name">
        <label for="table_name">* Datasource provider:</label>
        <input
          formControlName="datasourceProvider"
          type="text"
          name="table_name"
        />
      </div>
      <div class="container-main__form__cu__content__form__name">
        <label for="table_name">* Datasource URL:</label>
        <input formControlName="datasourcerURL" type="text" name="table_name" />
      </div>
    </form>
  </div>

  <div class="container-main__form__cu__buttons">
    <button
      [class.container-main__form__cu__buttons__invalid__button]="
        formAddTable.invalid
      "
      [disabled]="formAddTable.invalid"
      (click)="cancelTable()"
    >
      Cancel
    </button>
    <button
      [class.container-main__form__cu__buttons__invalid__button]="
        formAddTable.invalid
      "
      [disabled]="formAddTable.invalid"
      (click)="saveTable()"
    >
      Save
    </button>
  </div>
</div>
