html,
body {
  margin: 0;
}

button {
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #04aa6d;
  color: #ffffff;
}

.loading {
  color: white;
  padding-top: 50px;
}
